<footer>
    <div class="apropo">
        <h6>A propos de Cheapship.com</h6>
        <button (click)="onNous()">Qui sommes-nous ?</button>
        <br>
        <button (click)="onConditions()">Conditions générales</button>
        <br>
        <button (click)="onPolitiques()">Politiques de confidentialité</button>
        <br>
        <button (click)="onPolitiques()">Politiques des cookies</button>
        <br>
        <button (click)="onCookies()">Gérer les cookies</button>
        <br>
        <button (click)="onPresse()">Presse</button>
        <br>
        <button (click)="onEngagements()">Nos engagements</button>
        
    </div>

    <div class="info">
        <h6>Assistance et informations utiles</h6>
        <button (click)="onAppli()">Applications mobiles</button>
        <br>
        <button (click)="onRadar()">Radar des vols</button>
        <br>
        <button (click)="onCompagnies()">Compagnies aériennes</button>
        <br>
        <button (click)="onAeroport()">Aéroports</button>
        <br>
        <button (click)="onVoyages()">Conditions de visas et langues  - <br>
            Régles concernant les voyages</button>
    </div>

    <div class="compagnie">
        <h6>Compagnies aériennes</h6>
        <a href="https://wwws.airfrance.fr">Air France</a>
        <br>
        <button href="https://www.ryanair.com/fr/fr">RyanAir</button>
        <br>
        <button href="https://www.lufthansa.com/fr/fr/homepage">Luftansa</button>
        <br>
        <button href="https://www.turkishairlines.com/fr-int/">Turkish Airlines</button>
    </div>

    <div class="side">
        <div class="logo">
            <img src="../../../assets/cheapship_logo.png" alt="logo de Cheapship">
        </div>
        <div class="appli">
            <h6>Téléchargez nos application: </h6>
            <button ><img class="android" src="../../../assets/appli/android.PNG" alt="Android"></button>
            <button><img class="ios" src="../../../assets/appli/ios.PNG" alt="ios"></button>
        </div>
    </div>
</footer>
