<footer>
    <div class="apropo">
        <h6>A propos de Cheapship.com</h6>
        <button href="">Qui sommes-nous ?</button>
        <br>
        <button href="">Conditions générales</button>
        <br>
        <button href="">Politiques de confidentialité</button>
        <br>
        <button href="">Politiques des cookies</button>
        <br>
        <button href="">Gérer les cookies</button>
        <br>
        <button href="">Presse</button>
        <br>
        <button href="">Nos engagements</button>
        
    </div>

    <div class="info">
        <h6>Assistance et informations utiles</h6>
        <button href="">Applications mobiles</button>
        <br>
        <button href="">Radar des vols</button>
        <br>
        <button href="">Compagnies aériennes</button>
        <br>
        <button href="">Compagnies aériennes nationales</button>
        <br>
        <button href="">Compangies aériennes - avis</button>
        <br>
        <button href="">Aéroports</button>
        <br>
        <button href="">Aéroports - avis</button>
        <br>
        <button href="">Informations - bagages</button>
        <br>
        <button href="">Conditions de visas et langues  - <br>
            Régles concernant les voyages</button>
    </div>

    <div class="compagnie">
        <h6>Compagnies aériennes</h6>
        <button href="">Air France</button>
        <br>
        <button href="">RyanAir</button>
        <br>
        <button href="">Luftansa</button>
        <br>
        <button href="">Turkish Airlines</button>
    </div>

    <div class="side">
        <div class="logo">
            <img src="../../../assets/cheapship_logo.png" alt="logo de Cheapship">
        </div>
        <div class="appli">
            <h6>Téléchargez nos application: </h6>
            <button><img class="android" src="../../../assets/appli/android.PNG" alt="Android"></button>
            <button><img class="ios" src="../../../assets/appli/ios.PNG" alt="ios"></button>
        </div>
    </div>
</footer>
