<footer>
    <div class="apropo">
        <h6>A propos de Cheapship.com</h6>
        <button>Qui sommes-nous ?</button>
        <br>
        <button>Conditions générales</button>
        <br>
        <button>Politiques de confidentialité</button>
        <br>
        <button>Politiques des cookies</button>
        <br>
        <button>Gérer les cookies</button>
        <br>
        <button>Presse</button>
        <br>
        <button>Nos engagements</button>
        
    </div>

    <div class="info">
        <h6>Assistance et informations utiles</h6>
        <button>Applications mobiles</button>
        <br>
        <button>Radar des vols</button>
        <br>
        <button>Compagnies aériennes</button>
        <br>
        <button>Compagnies aériennes nationales</button>
        <br>
        <button>Compangies aériennes - avis</button>
        <br>
        <button>Aéroports</button>
        <br>
        <button>Aéroports - avis</button>
        <br>
        <button>Informations - bagages</button>
        <br>
        <button>Conditions de visas et langues  - <br>
            Régles concernant les voyages</button>
    </div>

    <div class="compagnie">
        <h6>Compagnies aériennes</h6>
        <button>Air France</button>
        <br>
        <button>RyanAir</button>
        <br>
        <button>Luftansa</button>
        <br>
        <button>Turkish Airlines</button>
    </div>

    <div class="side">
        <div class="logo">
            <img src="../../../assets/cheapship_logo.png" alt="logo de Cheapship">
        </div>
        <div class="appli">
            <h6>Téléchargez nos application: </h6>
            <button><img class="android" src="../../../assets/appli/android.PNG" alt="Android"></button>
            <button><img class="ios" src="../../../assets/appli/ios.PNG" alt="ios"></button>
        </div>
    </div>
</footer>
