header{
    background-color: #92B4EC;
    padding-top: 0;
    position: sticky;
    display: block;
    width: 100%;
    top: 0;
    

}

h1{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: #FFD24C;
    color: #3F52E3;
   
    display: inline-block;
    border-radius: 10px;
    border: 4px double #cccccc;
    text-align: center;
    font-size: 17px;
    padding: 6px;
    width: 145px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.logo{
    width: 300px;
}
