





/* .logoprojet{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
.gradient-custom-2 {
    background: linear-gradient(to right, #FFD24C,  #92B4EC, #ffff);
    }
    
     */
    
    