<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Page de Connexion</span>
    <img src="assets/logoprojet3.png" alt="">
  </div>
</nav>
<br>



<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="assets/Denzel.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><strong>Identifiant</strong></label>
    <input type="text" placeholder="Entrer votre idientifiant" name="uname" required>

    <label for="psw"><strong>Mot de passe</strong></label>
    <input type="password" placeholder="Entrer votre mot de passe" name="psw" required>
        
    <button type="submit">Connexion</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Retour</button>
    <span class="psw"><a href="#">Mot de passe oublier ?</a></span>
  </div>
</form>



