<div class="homePage">

    <div class="imgCheap">
        <img src="./assets/logoprojet.png" alt="">
    </div>
    
    <div class="searchbar">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">recherche</button>
            </form>
        </nav>
    </div>

    <div class="imagecontact">
        <img src="./assets/imagecontact.png" alt="">
    </div>
    
</div>

   