<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Mes Favoris</span>
    <img src="assets/logoprojet3.png" alt="">
  </div>
</nav>
<br>




<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
  <h2> Les Vols Epinglé</h2>
</div>

<table class="table mt-3">
  <thead>
      <tr>
          <th scope="col"> Destination</th>
          <th scope="col">Date Aller</th>
          <th scope="col">Date Retour</th>
          <th scope="col">Prix</th>
          <th scope="col">Compagnie</th>
          <th scope="col">Vol Direct</th>
          
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Japon</td>
          <td>24/10/2022</td>
          <td>29/10/2022</td>
          <td>150 $</td>
          <td>Japon Voyage</td>
          <td>Non</td>
         
          <td>
              <button class="btn btn-success">Selectionner</button>
              <button class="btn btn-danger mx3 ">Supprimer</button>
          </td>
      </tr>
  </tbody>

  <tbody>
      <tr>
        <td>Japon</td>
        <td>24/10/2022</td>
        <td>29/10/2022</td>
        <td>150 $</td>
        <td>Japon Voyage</td>
        <td>Non</td>
       
          <td>
              <button class="btn btn-success">Selectionner</button>
              <button class="btn btn-danger mx3 ">Supprimer</button>
          </td>
      </tr>
  </tbody>


  <tbody>
      <tr>
        <td>Japon</td>
        <td>24/10/2022</td>
        <td>29/10/2022</td>
        <td>150 $</td>
        <td>Japon Voyage</td>
        <td>Non</td>
       
         
          <td>
              <button class="btn btn-success">Selectionner</button>
              <button class="btn btn-danger mx3 ">Supprimer</button>
          </td>
      </tr>
  </tbody>


  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

 









