<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Home</span>
    <img src="assets/logoprojet3.png" alt="">
  </div>
</nav>


<div class="card shadow mb-5 bg-white rounded">

	<!--Card-Body-->
	<div class="card-body">

		<!--Card-Title-->
		<p class="card-title text-center shadow mb-5 rounded">CHEAP SHIP TRAVEL</p>
 
 <div class="icons text-center">




 </div>

    <hr>

		<p class="searchText"><strong>Details de  ma Cheap Flights</strong></p>

		<!--First Row-->
		<div class="row mb-3 mt-3">

			<label class="radiobtn"><input type="radio" name="gender" value="male">Direct</label>
			<label class="radiobtn"><input type="radio" name="gender" value="male">Escale</label>

		</div>


		<!--Second Row-->
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Aeroport De Depart</option>
        <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
    </select>
			</div>

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Aeroport d'arrivé</option>
       <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
    </select>
			</div>

		</div>


		<!--Third Row-->
		<div class="row">

			<div class="col-sm-6">
				<input placeholder="; Date de Depart" type="text" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
			</div>

				<div class="col-sm-6">
					<input placeholder=" Date d'arrive" type="text" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" >
			</div>

				</div>


				<!--Fourth Row-->
				<div class="row mt-4">

					<div class="col-sm-6">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Peu Importe</option>
        <option value="1">6:00 AM</option>
        <option value="2">3:00 PM</option>
        <option value="3">6:00 PM</option>
    </select>
					</div>

					<div class="col-sm-6">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Peu importe</option>
          <option value="1">6:00 AM</option>
        <option value="2">3:00 PM</option>
        <option value="3">6:00 PM</option>
    </select>
					</div>

				</div>




				<!--Fifth Row-->
				<div class="row">

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Enfant(0-14)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Adulte(15-64)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Senior(65+)</option>
   <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>



				</div>

				<a href="#" class="btn btn-primary float-right mt-5">Trouver ma Cheap Flight</a>
			</div>
		</div>

























<!-- 
<div>
<img src="./assets/logoprojet.png" alt="">
</div>
<nav class="navbar bg-light">
  <form class="container-fluid">
    <div class="input-group">
      
      <input type="text" class="form-control" placeholder="Quel est l'aeroport de votre choix" aria-label="Username" aria-describedby="basic-addon1">
      <span class="input-group-text" id="basic-addon1">Recherche</span>
    </div>
  </form>
</nav>

  <div class="imagecontact">
<img src="./assets/imagecontact1.png" alt="">
</div> -->

<!-- 
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   Airport
  </button>

  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item active" href="oui">Action</a>oui</li>
    <li><a class="dropdown-item" href="#">Another action</a>non</li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
  <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> Valider
      </label>
    </div>
</div> -->