<div class="recherVol">
  <div class="titreRecherche">
    <h2>Rechercher un vol</h2>
  </div>

  <div class="form">    
    <form action="get">
      <div class="barRecherche">
        <img src="../../../assets/globe_color.png" alt="">
        <input
          type="search"
          name="depart"
          id="depart"
          placeholder="Aéroport de départ"
        />   
        <button type="submit">
            <img class= "search" src="../../../assets/magnifier_blue.gif" alt="recherche">
        </button>     
      </div>
    </form>
  </div>
</div>
