.recherVol{
    background-color: #92B4EC ;
    display: flex;
    justify-items: center;
    padding: 30px;
    margin : 70px;
    margin-right: 65px;
    
}

h2{
    color : #FFFF;
    font-size: large;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    
}

img{
    width: 40px;
    top: 15px;
}
.form{
    align-items: center;
}
input{
    justify-content: center;
}